In [1]:
#1. lambda funtion

data = [('Sachin Tendulkar', 34357),('Ricky Ponting', 27483),('Jack Kallis', 25534),('Virat Kohli', 24936)]

sorted_data = sorted(data, key=lambda x:x[1])

print(sorted_data)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

In [2]:
ls = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
k =map(lambda x:x**2, ls)

for i in k:
    print(i)

1
4
9
16
25
36
49
64
81
100

In [3]:
lis =  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

p = tuple(map(lambda x:str(x), lis))

print(p)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [4]:
from functools import reduce

In [5]:
ls = list(range(1,26))
reduce(lambda x,y:x*y,ls)

15511210043330985984000000

In [6]:
ls = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x: x % 2 == 0 & x % 3 == 0, ls))

[2, 6, 60, 90, 120, 46]

In [7]:
strings = ['python', 'php', 'aba', 'radar', 'level']

is_palindrome = lambda x:x==x[::-1]

palindrome = list(filter(is_palindrome,strings))

print(palindrome)

['php', 'aba', 'radar', 'level']